.personajes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.personaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.imagen-personaje {
  width: auto;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

h1 {
  margin: 10px 0;
}

.personajes p {
  width: 70%;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 768px) {
  .personajes {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 10px;
  }

  .personaje {
    width: 100%;
    margin: 10px 0;
  }

  .imagen-personaje {
    width: 110%;
    height: auto;
  }
  .img2 {
    width: 70%;
    height: auto;
  }
  #hedo {
    width: 50%;
    height: auto;
  }

  h1 {
    font-size: 24px;
  }

  .personajes p {
    width: 90%;
    font-size: 16px;
  }
}
